/* ----- Reset Style ----- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;    
}

body {
    color:#b8b8b8;
}

.container {
    display:grid;
    background-color: black;
    font-family: "IBM Plex Mono", serif;
    padding: 0% 3%;
    width: screen;
}

h1 {
    color:white;
    font-weight: bold;
    font-size: 30px;
}

h2 {
    color:white;
}

h3 {
    color:white;
}

a {
    color: white;
}

.Italic {
    font-style: italic;
}

.H3 {
    font-size: 1.17em;
    font-weight: bold;
}

.H5 {
    font-size: .83em;
    font-weight: bold;
}

/*Mencenterkan Judul Utama dan keterangannya*/
.InPage {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px 0px 20px 0px;
    gap: 10px;
}

/* Under Development */
#coming-soon {
    display: none;
}

/* ----- Reset Style End ----- */

/* ----- Navigation Bar Start ----- */
.navbar {
    display:flex;
    background-color: #1b1b1b;
    padding:15px 30px;
    height: 13vh;    
    align-items: center;
    justify-content:space-between;
    border-radius: 0px 0px 20px 20px;
    position: fixed;
    width: 94%;
    z-index: 1000;
    box-shadow: 0 0 3px rgba(184, 184, 184, 0.9), 
                0 0 11px rgba(184, 184, 184, 0.6);
}

.navJudul {
    font-weight: bold;
    height:100%;
}

.navJudul img {
    width: auto;
    height: 100%;
}

.menu-navbar {
    text-decoration: none;
    padding: 17px;
    color:#b8b8b8;
}

.menu-navbar:hover {
    background-color: rgb(20, 90, 246);
    color:black;
    transition:0.5s ease-in-out;
    transition-delay:0.2s;
    border-radius: 10px;
}

.menu-navbar.active {
    text-decoration: none;
    padding: 17px;
    font-weight: bold;
}

/* Hamburger Menu */
.burger {
    display: none; /* Default: Tidak ditampilkan */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger div {
    width: 30px;
    height: 4px;
    background: white;
    transition: 0.3s;
}

/* ----- Navigation Bar End ----- */

/* ----- Container Main Content Start ----- */
.home { /* Container Khusus Main Content Home */
    display:grid;
    height:92vh;
    padding: 0px 13%;    
    padding-top: 10%;
}

.main { /* Container Khusus Main Content Semua Halaman Selain Home */
    display:grid;   
    padding-top: 8%;
    min-height: 92vh;
}
/* ----- Container Main Content End ----- */

/* ----- Home Baru Start ----- */

.started {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
    gap:100px;
}

.started div {
    display: grid;
    gap: 30px;
    width: 70%;
}

.started p {
    text-align: justify;
}

.started button {
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(20, 110, 246);
    max-width: 50%;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(30, 125, 255, 0.8);
    color:white;
}

.started button:hover {
    background-color: rgb(20, 90, 246);
    font-weight: bold;
}

.started img {
    width: 30%;
    height: auto;
    border-radius: 50%;
    background-color: #9c9c9c;
    padding: 10px;
}

.socialMedia {
    display: grid;
    gap: 10px;
    padding-bottom: 20px;
}

.socialMedia div {
    display: flex;
    justify-content: space-between;
    padding: 0 50% 0 2%;
}

.socialMedia a {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 11vh;
    border-radius: 50%;
    padding: 4px;
}

.socialMedia img {
    width: 100%;
    height: auto;
    filter:invert(50%) grayscale(100%);
    margin:auto;
    font-size: 8px;
}

.socialMedia a:hover {
    background-color: white;
    transition:0.6s ease-in-out;
}

.socialMedia a:hover img {
    filter:invert(0%) grayscale(0%);
    transition:0.8s ease-in-out;
}
/* ----- Home Baru End ----- */

/* ----- Halaman About Start ----- */
.Aprofil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:15px;
    padding: 0 5%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.Aprofil img {
    width: 15%;
    height: auto;
    border-radius: 50%;
    background-color: #9c9c9c;
    padding: 10px;
    margin-top: 10px;;
}

.Aprofil p {
    display: inline-block;
    text-align: justify;
    line-height: 1.5;
}

.Button {
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(20, 110, 246);
    font-size: 13px;
    width: fit-content;
    text-align: center;
}

.Button:hover {
    font-weight: bold;
    background-color: rgb(20, 90, 246);
    box-shadow: 0 0 5px rgba(30, 144, 255, 1), 
                0 0 15px rgba(30, 144, 255, 0.8);
    transform: scale(1.03); /* Membuat tombol sedikit membesar */
    transition:0.2s ease-in-out;
}

.Askill {
    display: grid;
    gap: 30px;
    background-color: #1b1b1b;
    border-radius: 20px;
    padding:25px;
}

.Askill h1 {
    text-align: center;
}

.Askill div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f0f0f;
    padding: 10px;
    border-radius: 20px;
    margin: 0 5%;

}

.Askill p {
    text-align: center;
}

.Aexp {
    display: grid;
    gap: 30px;
    background-color: #1b1b1b;
    border-radius: 20px;
    padding:25px;
    margin: 50px 0px;
}

.Aexp h1 {
    text-align: center;
}

.Aexp h3 {
    text-align: center;
}

.Aexp h5 {
    text-align: center;
}

.Aexp div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0f0f0f;
    padding: 20px 50px;
    border-radius: 20px;
    margin: 0 5%;
    gap: 5px;
}

.Aexp P {
    text-align: justify;
    padding-top: 7px;
}

.Aportfolio  {
    display:grid;
    place-content: center;
    text-align: center;
    padding: 5%;
}

.Aport {
    display:flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    padding: 10px;
}

.Aport div {
    display:grid;
    gap:10px;
    place-content: center;
    background-color: #1b1b1b;
    padding:30px;
    border-radius: 20px;
}

.Aport div img {
    max-width: 100%;
    height: auto;
    padding:20px;
}

/* ----- Halaman About End ----- */

/* ----- Halaman Gallery Start ----- */
.main article {
    display: grid;
    text-align: center;
    background-color: #1b1b1b;
    margin:25px 20px 15px 20px;
    padding: 30px;
    border-radius: 20px;
}

.Album {
    display:flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.Album div {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

.Album img {
    display: block;
    max-height: 250px;
}

.Album p {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    color: white;
    font-size: 0.9rem;
    padding: 0.5rem;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.Album div:hover img{
    transform: scale(1.05);
}

.Album div:hover p {
    opacity: 1;
}

/* ----- Halaman Gallery End ----- */

/* ----- Halaman Portfolio Start ----- */
.Project {
    display: flex;
    margin:20px 20px 30px 20px;
    justify-content: space-around;
}

.Project a {
    display: flex;
    flex-direction: column;
    background-color: #1b1b1b;
    width: 25vw;
    padding: 30px;
    gap: 10px;
    justify-content: space-between;
    border-radius: 10%;
    box-shadow: 0 0 5px rgba(184, 184, 184, 0.7), 
                0 0 15px rgba(184, 184, 184, 0.5);
}

.Project a:hover {
    transform: scale(1.05);
    background-color: navy;
    box-shadow: 0 0 5px rgba(184, 184, 184, 1), 
                0 0 15px rgba(184, 184, 184, 0.8);
}

.Project img {
    align-self: center;
    color:#b8b8b8;
    border-radius: 10px;
    outline: 3px solid white;
    margin-bottom: 10px;
    width: 100%;
}

.Project h2 {
    font-size: 1.17em;
}

.Project p {
    text-align: justify;
    color:#b8b8b8;
}

.Project span {
    text-align: center;
    font-style: italic;
    font-size: 80%;
    color:#b8b8b8;
}

/* ----- Halaman Portfolio End ----- */

/* ----- Halaman Detail Project Start ----- */

.Detail-Project {
    display: flex;
    flex-direction: column;
    background-color: #1b1b1b;
    margin:25px 30px 25px 30px;
    padding: 50px;
    border-radius: 20px;
    gap: 40px;
    text-align: justify;
}

.DP-Tittle {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.DP-Gallery {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15px;
    margin-top: 24px;
}

.DP-Content {
    display: grid;
    gap:12px;
    width:100%;
    height:auto;
}

.DP-Content iframe {
    width: 100%;
    height: 350px;
    border-radius: 10px;
}

.DP-Content span {
    font-style: italic;
    text-decoration: underline;
    color:#b8b8b8;
    width: fit-content;
    cursor: pointer;
}

.DP-Content span:hover {
    color: yellow;
}

.DP-Content ul {
    list-style-position: inside;
    padding-left: 10px;
}

.Button-box {
    display: flex;
    width: 100%;
    padding-top: 25px;
    justify-content: center;
}

/* ----- Halaman Detail Project End ----- */

/* ----- Footer Start ----- */
footer {
    display:flex;    
    justify-content:center;
    align-items: center;
    color:white;
    bottom: 0;
}

footer p {
    background-color:#1b1b1b;
    width:100%;    
    height: 8vh;
    place-content: center;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
}
/* ----- Footer End ----- */

/* ----- Unique Start ----- */
.Alert {
    display: flex;
    flex-direction: column;
    padding: 31vh 0vh;
    text-align: center;
    gap: 2vh;
}

.Alert a:hover {
    font-weight: bold;
    color: yellow;
}
/* ----- Unique End ----- */
